@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projekt M151</h1>
    <p class="lead">Im Modul 151 setzen wir diese Website um</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>
            Das ganze ist auf Github!
        </p>
        <p><a class="btn btn-default btn-outline-primary" href="https://github.com/lasher23/M151_Projekt">Siehe hier!</a></p>
    </div>
</div>
